<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="styles/main.css">
    <title>To-Do</title>
</head>
<body>

<!-- Header -->
<section>
 <div class="container" >

<div class="header">


<form action="/today" method="POST">
    <input type="submit" value="Today's" class="headerClass">
</form>
 </div>


<div class="header">
  <form action="/work" method="POST">
     <input type="submit" value="Work" class="headerClass">
  </form>
  </div>

</div>
</section>
<div class="notepad">



<div class="toDoTask">

<h3 style="justify-content: center;">Today's Tasks</h3>

    <% if(locals.todayTasks) {%>
     
    <% for(let i=0; i<todayTasks.length; i++){ %>
     <div class="addedItems">
        <input type="checkbox"  onclick="submitCheckbox('<%=i%>')" id='<%=i%>'>

        <%= todayTasks[i] %>
        <% console.log(todayTasks[i]);%>
       
      </div>
    <%}%>
    
    <%}%>

    
</div>
    
<!-- add an item button -->

<form action="/todays" method="post">
   <div class="addItem">
      <input type="text" name="newTasks" id="">
      <input type="submit" value="Add">

  </div>
      
</form>

 <!-- show deprecated List -->
<section>

<div class="doneTask">

 <h3>Completed task</h3>
 <% if(locals.deprecatedTasks) {%>
     
    <% for(let i=0; i<deprecatedTasks.length; i++){ %>
     <div class="deprecatedItems">
        <!-- //<input type="checkbox"> -->

       <del> <%= deprecatedTasks[i] %> </del>
        <% console.log(deprecatedTasks[i]);%>
       
      </div>
    <%}%>
    
    <%}%>


</div>   

</section>
</div>
<script>
        function submitCheckbox(id) {
           
            const checkbox = document.getElementById(id);
            
            if (checkbox.checked) {
                fetch('/post1', {
                    method: 'POST',
                   body: new URLSearchParams({ 'isChecked': 'true', 'hid':id  }).toString(),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(response => response.text())
                .then(data => {
                    console.log(data); // Handle the response from the server
                })
                .catch(error => {
                    console.error('Error:', error);
                });

                location.reload();
            }
            // else
            // {
            //     fetch('/post1', {
            //         method: 'POST',
            //         body: 'isChecked=false',
            //         headers: {
            //             'Content-Type': 'application/x-www-form-urlencoded'
            //         }
            //     })
            //     .then(response => response.text())
            //     .then(data => {
            //         console.log(data); // Handle the response from the server
            //     })
            //     .catch(error => {
            //         console.error('Error:', error);
            //     });

            // }
        }
    </script>
  
  
    
  </section> 

  

</body>

<footer>
<% const date = new Date();%>
<%const year = date.getFullYear(); %>
  
   
  <p style="color: white;">Copyright © <%=year  %></p>
</footer>

</html>